/* HomeSlider.css */
.home-slider-container {
    max-width: 1920px; /* Kích thước khung bên ngoài */
    width: 100%;
    height: 900px;
    overflow: hidden; /* Đảm bảo hình ảnh không vượt ra khỏi khung */
    position: relative;
}

.home-slider-image {
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của khung */
    height: auto; /* Đảm bảo chiều cao tự động điều chỉnh để không biến dạng hình ảnh */
    display: block; /* Đảm bảo hình ảnh hiển thị đúng cách */
}
