.home-slider-container {
    width: 100%; /* Chiều rộng tối đa của vùng chứa */
    max-width: 1920px; /* Chiều rộng tối đa của vùng chứa */
    height: 900px; /* Chiều cao của vùng chứa */
    overflow: hidden; /* Ẩn phần nội dung vượt ra khỏi vùng chứa */
    position: relative; /* Định vị tương đối để các phần tử con sẽ được định vị dựa trên vùng chứa */
}

.home-slider-image {
    width: 100%; /* Chiều rộng của hình ảnh sẽ đầy đủ chiếm toàn bộ chiều rộng của vùng chứa */
    height: auto; /* Chiều cao của hình ảnh tự động điều chỉnh để không bị méo mó hình dáng */
    display: block; /* Hiển thị hình ảnh dưới dạng phần tử block */
    object-fit: cover; /* Hiển thị hình ảnh mà không làm biến dạng tỷ lệ khung */
}